button{
    background-color: deeppink;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    color: rgb(45, 1, 76);
    box-shadow: 5px 5px 10px 0px #000000;
}